
@{
    ViewData["Title"] = "Shop";
}

@model Product


<section id="shop-list-title">
    <div class="container py-4">
        <div class="row py-5">
            <div class="col-12">
                <h1>Shop</h1>
            </div>
        </div>
    </div>
</section>

<section style="padding:35px 0px">
    <div class="container">

        <div class="row p-5">

           <div style="padding:15px 0;" class="col-md-6">
               <div>
                    <img src="~/img/@Model.Image" style="height:500px; width:390px; object-fit:cover;" />
               </div>
            </div>
            
            <div style="padding:15px 0;" class="col-md-6">
                <div>
                    <h1 style="color:#2b2b2b;font-size:37px;line-height: 1.447em;">@Model.Name</h1>
                    <p style="color:#afafaf;">$@Model.Price</p>
                    <div style="padding:10px 0;">
                        <p style="color: #6d6a6a;">@Model.ProductDetail.Description</p>
                    </div>

                    <div style="padding:12px 0;">
                        <h6>Additional Information</h6>
                        <p style="color: #6d6a6a;">Weight : @Model.ProductDetail.Weight kg</p>
                    </div>

                    <div>
                       <form>
                            <input style="height:40px; width:100px;" type="number" placeholder="Quantity" />
                            <a class="p-3 mb-2 bg-dark text-white">Add To Cart</a>
                       </form>
                    </div> 

                </div>
            </div>


           <div class="col-md-10" style="padding:50px 0">
                <form>
                    <div class="mb-3">
                        <label class="form-label" >Name</label>
                        <input style="height:45px;" type="text" class="form-control"/>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Email</label>
                        <input style="height:45px;" type="email" class="form-control" />
                    </div>
                  
                    <div class="mb-3">
                        <label class="form-label">Message</label>
                        <textarea style="height:130px;" class="form-control"></textarea>
                    </div>

                    <button type="submit" class="btn btn-danger">Submit</button>
                </form>
           </div>




        </div>
    </div>
</section>


