@{
    ViewBag.Title="Shop";
}


<section id="shop-list-title">
    <div class="container py-4">
        <div class="row py-5">
            <div class="col-12">
                <h1>Shop</h1>
            </div>
        </div>
    </div>
</section>

  <!-- PRODUCTS START -->

        <section id="products">
            <div class="container">
        @await Component.InvokeAsync("Product",new {take=0})
            </div>
        </section>

        <!-- PRODUCTS END -->

